$ModLoad imfile

$InputFileStateFile /var/spool/rsyslog/{{ machine_id }}

$InputFilePersistStateInterval 50

$InputFilePollInterval 5

$InputFileName /var/log/juju/{{ machine_tag }}.log

$InputFileTag juju-{{ machine_tag }}:

$InputFileStateFile {{ machine_tag }}

$InputRunFileMonitor


:syslogtag, startswith, "juju-" @10.0.3.1:514

& ~
