datadir: /var/lib/juju
oldpassword: {{ old_password }}
machinenonce: {{ machine_nonce }}
stateinfo:
    addrs: 
    - {{ state_addrs }}
    cacert: 
    - '{{ state_cacert }}'
    tag: {{ state_machine_tag }}
    password: {{ state_password }}
oldapipassword: {{ old_api_password }}
apiinfo:
    addrs:
    - {{ api_addrs }}
    cacert:
    - {{ api_cacert }}
    tag: {{ api_machine_tag }}
    password: {{ api_password }}
