datadir: /var/lib/juju
oldpassword: {{ oldpassword }}
machinenonce: {{ machine_nonce }}
stateinfo:
    addrs: 
    - {{ server_addrs }}
    cacert: 
    - '{{ cacert }}'
    tag: {{ machine_tag }}
    password: {{ password }}
